.extra-big-title {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Montserrat";
}
.big-title {
  color: #005f73;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Montserrat";
}

.small-title {
  font-size: 1rem;
  font-weight: 700;
  font-family: "Montserrat";
}

.body-text {
  font-size: 1rem;
  font-family: "Merriweather";
}

.instruction {
  font-size: 1.2rem;
  color: #5b84b1;
}

.small-button {
  background-color: #5b84b1;
  color: white;
  border-radius: 0.5rem;
  font-size: 12px;
  font-family: "Montserrat";
  border: solid 2px #5b84b1;
}
.small-button:hover {
  background-color: transparent;
  color: #5b84b1;
  border-radius: 0.5rem;
  font-size: 12px;
  border: solid 2px #5b84b1;
}

.bold {
  background-color: #5b84b1;
  border-radius: 0.5rem;
  font-weight: 700;
  color: white;
}

.icon {
  background-color: transparent;
  border: none;
}

.divholder {
  width: 50px;
  height: 500px;
}

.margin-large {
  margin-top: 100px;
  margin-bottom: 100px;
}

.spacer {
  height: 160px;
}
.my-btn {
  background-color: transparent;
  padding: 0px;
  border: none;
}

.my-btn:hover {
  cursor: pointer;
}
.my-btn-primary {
  padding: 5px 10px;
  background-color: #ca6702;
  color: #e9d8a6;
  border-radius: 0.375rem;
  border: solid 2px #ca6702;
}
.my-btn-primary:hover {
  background-color: transparent;
  color: #ca6702;
  border: solid 2px #b05b04;
}
.my-btn-secondary {
  padding: 5px 10px;
  background-color: #e9d8a6;
  color: #005f73;
  border: solid 2px #e9d8a6;
  border-radius: 0.375rem;
}
.my-btn-secondary:hover {
  background-color: transparent;
  color: #e9d8a6;
  border: solid 2px #e9d8a6;
}
